.course-mb-0{
    margin-bottom: 5px;
}
.caroimg{
    filter: brightness(60%);
}
@media only screen and (max-width: 575px){
    .smalldvs h5 {
            font-size: 8px;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
    .smalldvs  p {
        font-size: 8px;
        margin: 0;
        padding: 0;
    }
    .smalldvs button {
        padding: 4px;
        font-size: 10px;
    }
}
